.blog-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .blog-item {
      grid-template-columns: 300px 1fr;
  }
}

@media (max-width: 767px) {
  .blog-item > div:first-child {
      height: 120px !important;
  }
}
